<% page.posts.each(function(post, i){ %>
    <article class="article">
        <h2 class="article_hd">
            <a href="<%- url_for(post.path) %>" class="article_tt">
                <%= post.title %>
            </a>
        </h2>
        <div class="article_info">
            <span class="hide-sm">发表于</span>
            <span class="show-sm">
                <i class="iconfont icon-archives"></i>
            </span><%= date(post.date, 'YYYY-MM-DD H:mm:ss')%> |
            <span class="hide-sm">分类于</span>
            <span class="show-sm">
                <i class="iconfont icon-tag"></i>
            </span>
            <% post.categories.forEach(function(item){%>
            <a href="<%= url_for(item.path)%>" class="hover-highlight"><%= item.name%></a>
            <% }) %>
        </div>
        <div class="article_ct">
            <%- post.excerpt %>
        </div>
        <div class="article_ft">
                
            <a href="<%- url_for(post.path) %>#more" class="hover-highlight">阅读全文
            </a>
        </div>
    </article>
<% }) %>

<%- partial('_partial/pagination')%>