<div class="classify">
    <div class="classify_hd">
        当前共 10 个分类
    </div>
    <div class="category">
        <% site.categories.each(function(item, i){ %>
            <a href="<%= url_for(item.path)%>" class="category_item">
                <%= item.name + '(' + item.length + ')' %>
            </a>
        <% }) %>
    </div>
</div>

<div class="classify">
    <div class="classify_hd">
        当前共 60 个标签
    </div>
    <div class="tag">
            
        <% site.tags.each(function(item, i){ %>
            <%
                var fontSize = "",
                    num = item.length;
                if (num <= 2) {
                    fontSize =  "text-xs";
                } else if (num > 2 && num <= 5) {
                    fontSize = "text-sm";
                } else if (num > 5 && num <= 8) {
                    fontSize = "text-md"
                } else {
                    fontSize = "text-lg";
                }
            %>
            <a href="<%= url_for(item.path) %>" class="hover-highlight tag_item <%= fontSize %>">
                <%= item.name %>
            </a>
        <% }) %>
    </div>
</div>